@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=La+Belle+Aurore&family=Londrina+Sketch&family=Monsieur+La+Doulaise&display=swap');

.containerDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    .buttons{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        .button1{
            button{
                width: 18rem;
            }
        }
        .button2{
            display: flex;
            gap: 0.5rem;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #a5b2ff;
            height: 2.5rem;
            width: 9rem;
            border-radius: 10px;
            border: 0px;
            box-shadow: 2px 2px 5px #878196;
        }
        button:hover{
            background-color: #8899e4;
        }
    }
    .ceremoniaDetail{
        border-radius: 1rem;
        box-shadow: 3px 5px 7px #878196;
        display: flex;
        width: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
        font-family: "Italianno", cursive;
        font-style: normal;
        backdrop-filter: blur(1px);
        .ceremoniaDetailImage1{
            width:50vh;
            height: 5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../assets/zapatos.svg);
        }
        .ceremoniaDetailImage2{
            width:50vh;
            height: 5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../../assets/torta.svg);
        }
        .detail{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }
    .ceremoniaDetailOutfit{
        display: flex;
        height: 20rem;
        width: 100vh;
        margin-bottom: 10vh;
        .detailOutfitImage{
            width: 50vh;
            background-repeat: no-repeat;
            background-image: url(../../assets/vestido.svg);
            background-position: center;
            background-size: 20rem;
        }
        .detailOutfit{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: "Italianno", cursive;
            font-style: normal;
            font-size: 40px;
        }
    }
}

/* Móviles pequeños (Celulares) */
@media (max-width: 479px) {
.ceremoniaDetail{
    width: 40vh !important;
    .detail{
        flex-direction: column;
    }
}
.ceremoniaDetailOutfit{
    width: 40vh !important;  
}
.ceremoniaDetailImage1{
    width: 30vh !important;
}
.ceremoniaDetailImage2{
    width: 30vh !important;
}
}
  
  /* Móviles grandes (Celulares) */
  @media (min-width: 480px) and (max-width: 767px) {
    .ceremoniaDetail{
        width: 60vh !important;
    }
  }  