.ContainerBook{
display: flex;
background-color: #dfd4e2;
height: 30rem;
}

.Slider{
    height: 40rem;
    margin: auto;
    width: 60%;
    height: 80%;
    place-items: center;
    overflow: hidden;
}

.image-gallery {
    display: flex;
    width: calc(100px * 10);
    animation: scroll 15s linear infinite;
    gap: 1rem;
}

.image-frame {
    display: flex;
    align-items: center;
}


.image {
   width: 10rem;
   transition: 1s;
   -webkit-box-reflect: below
   1px linear-gradient(transparent, #0005);
}

.image-gallery:hover{
    animation-play-state: paused;
}

@media only screen and (max-width: 575px){
  
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100px*5));
    }
}