.countdown-timer {
    top:-11rem;
    position: absolute;
    backdrop-filter: blur(5px);
    height: 7rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 2px 5px 5px #1d1c1c;
    color: #252323;
    .time-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 4rem;
        margin: 0.2rem;
        padding: 1rem;
        text-align: center;
        border-right: 1px solid #383131;
        border-left: 1px solid #383131;
      }
      .time {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
      }
      
      .label {
        font-size: 0.5rem;
      }
  }
  
 
@media only screen and (max-width: 575px){
    .countdown-timer{
        width: 14rem !important;
        height: 4rem !important;
    }
    .time-box{
        width: 2.5rem !important;
    }
}