@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=La+Belle+Aurore&family=Londrina+Sketch&family=Monsieur+La+Doulaise&display=swap');

.countdown-timer {
    top:-11rem;
    backdrop-filter: blur(5px);
    height: 7rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    font-family: "Italianno", cursive;
    font-style: normal;
    gap: 1rem;
    .time-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 4rem;
        margin: 0.2rem;
        padding: 1rem;
        text-align: center;
      }
      .time {
        display: block;
        font-size: 3rem;
        font-weight: bold;
      }
      
      .label {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;
      }
  }
  
 
@media only screen and (max-width: 575px){
    .countdown-timer{
        width: 15rem !important;
        height: 5rem !important;
    }
    .time-box{
        width: 3.2rem !important;
    }
}