
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Londrina+Sketch&family=Monsieur+La+Doulaise&display=swap');

.FrontPageContainer {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.FrontPageContainer{
    background-image: linear-gradient(to right, rgba(146, 138, 146, 0.699) , rgba(151, 134, 134, 0.863)), url(../../assets/Novios/img5.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    .ContainerNames{
      top: 20rem;
      text-align: center;
      color: white;
      position: absolute;
      .Init{
        font-size: 4rem;
      }
    }
   
    .ContainerDate{
        top:0;
        height:10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30rem;
        background-image: url(../../assets/decorationdate.svg);
        background-position: 5.2rem 3rem;
        background-size: calc(20rem);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        color: white;
    }
    
    .corner {
        position: absolute;
        width: 15rem;
        height: 15rem; 
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(0.5);
        z-index: 0;
      }
      .top-left {
        background-image: url('../../assets/topleft.svg');
        top: 0;
        left: 0;
      }
      
      .top-right {
        background-image: url('../../assets/toprigth.svg');
        top: 0;
        right: 0;
      }
      
      .bottom-left {
        background-image: url('../../assets/bottomleft.svg');
        bottom: -4rem;
        left: 0;
      }
      
      .bottom-right {
        background-image: url('../../assets/bottomRigth.svg');
        bottom: -4rem;
        right: 0;
      }
            
}


@media only screen and (max-width: 575px){
  .corner{
    width: 10rem !important;
    height: 10rem !important;
  }
    /*.FrontPageCenter{
        width: 25rem !important;
        background-position: -2rem  !important;
    }*/
    .ContainerNames{
      top: 21rem !important;
    }
}
@media only screen and (min-width: 1024px){
  .FrontPageCenter{
    background-position: 29rem !important;
    background-size: calc(27rem) !important;
  }
}