@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.FrontPageContainer{
    background-image: linear-gradient(to right, rgba(78, 49, 85, 0.699) , rgba(143, 133, 133, 0.71)), url(../../assets/Novios/img5.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    .FrontPageCenter{
        background-image: url(../../assets/decoration.svg);
        background-position:40rem  ;
        background-size: calc(27rem);
        background-repeat: no-repeat;
        width: 100%;
        height:30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        z-index: 0;
        filter: brightness(0.5);
    }
    .ContainerNames{
      top: 15rem;
      text-align: center;
      color: white;
      position: absolute;
      font-family: "Great Vibes", cursive;
      font-style: normal;
    }
   
    .ContainerDate{
        top:0;
        height:10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        background-image: url(../../assets/decorationdate.svg);
        background-position: 5.2rem 3rem;
        background-size: calc(10rem);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
        bottom: 35rem;
        color: white;
    }
    
    .corner {
        position: absolute;
        width: 15rem;
        height: 15rem; 
        background-repeat: no-repeat;
        background-size: contain;
        filter: brightness(0.5);
        z-index: 0;
      }
      .top-left {
        background-image: url('../../assets/topleft.svg');
        top: 0;
        left: 0;
      }
      
      .top-right {
        background-image: url('../../assets/toprigth.svg');
        top: 0;
        right: 0;
      }
      
      .bottom-left {
        background-image: url('../../assets/bottomleft.svg');
        bottom: -6.7rem;
        left: 0;
      }
      
      .bottom-right {
        background-image: url('../../assets/bottomRigth.svg');
        bottom: -6.7rem;
        right: 0;
      }
            
}


@media only screen and (max-width: 575px){
  .corner{
    width: 10rem !important;
    height: 10rem !important;
  }
  .FrontPageContainer{
    height: 90vh;
  }
    .FrontPageCenter{
        width: 25rem !important;
        background-position: -2rem  !important;
    }
    .ContainerNames{
      top: 21rem !important;
    }
}
@media only screen and (min-width: 1024px){
  .FrontPageCenter{
    background-position: 29rem !important;
    background-size: calc(27rem) !important;
  }
}