.TipeCapContainer{ 
    display: flex;
    justify-content: center;
  
    z-index: 0;
    flex-wrap: wrap;
        .DecorationAlianza{
        background-image: url(../../assets//alianzadecoration.svg);
        width: 5rem;
        z-index: 1;
        height: 10rem;
        background-repeat: no-repeat;
        background-position: 34rem 4rem;
        background-size: calc(20rem);
        position: relative;
    }
    .alianzas{
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: -10rem;
        background-image: url(../../assets/timedecoration.svg);
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);
        background-size: calc(15rem);
        border-radius: 50%;
        background-position: -2rem -0.5rem;
        box-shadow: 2px 5px 5px black;
        margin-top: 9rem;
    }
}

@media only screen and (max-width: 575px){
   .alianzas{
    width: 10rem !important;
    height: 9rem !important;
    margin-top: 6rem !important;
    border-radius: 50%;
    position: absolute !important;
    backdrop-filter: blur(1px) !important;
    background-size: calc(20rem) !important;
    background-position: -5rem -2rem !important;
   }
   .DecorationAlianza{
        width: 35rem !important;
        height: 15rem !important;
        background-repeat: no-repeat;
        background-position: -1rem 4rem !important;
        background-size: calc(20rem) !important;
   }

   .custom-shape-divider-top-1724515908 svg{
    width: calc(100% + 1.3px) !important;
    height: 100px !important;
    transform: rotateY(180deg);
   }
}

