.TipeCapContainer{
    height: 30vh;
    display: flex;
    justify-content: center;
    background-color: rgb(223, 212, 226);
    .DecorationAlianza{
        background-image: url(../../assets//alianzadecoration.svg);
        width: 35rem;
        height: 30rem;
        background-repeat: no-repeat;
        background-position: 8rem 0.5rem;
        background-size: calc(20rem);
    }
    .alianzas{
        position: absolute;
        width: 10rem;
        height: 10rem;
        background-image: url(../../assets/timedecoration.svg);
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);
        background-size: calc(15rem);
        border-radius: 50%;
        background-position: -2rem -0.5rem;
        box-shadow: 2px 5px 5px black;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 575px){
   .alianzas{
    width: 10rem !important;
    height: 9rem !important;
    margin-top: 3rem !important;
    border-radius: 50%;
    position: absolute !important;
    backdrop-filter: blur(1px) !important;
    background-size: calc(20rem) !important;
    background-position: -5rem -2rem !important;
   }
   .DecorationAlianza{
        width: 35rem !important;
        height: 30rem !important;
        background-repeat: no-repeat;
        background-position: 3rem 3rem !important;
        background-size: calc(20rem) !important;
   }
}