.Footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #9c9090;
    left: 0;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    color: #000291;
    padding: 15px 0;
    flex: 1;
    backdrop-filter: blur(10px);
    .BlockFooter{
        padding: 2rem;
        width: 25rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 10rem;
        a{
            color: #4b1ec5;
        }   
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .BlockFooter{
        width: 40rem !important;
    }
}